@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/SourceSansPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts//Inter-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts//SourceSansPro-SemiBold.woff') format('woff');
}