body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.lock {
    overflow: hidden;
}
