<template>
    <div class="home">
        <home-page
            :cards="cards"
            @delete="deletCard"
        />
    </div>
</template>

<script>
import HomePage from '@/components/home/HomePage.vue';

const ARRCARDS =[
	{	
		id:'1',
		title:'Рандом Заголовок',
		img:'https://lh3.googleusercontent.com/DndYRsPN7ZlO4_HoxOuKTG_fsBbV-Jg7m_CH_8zR7cI31SBa2_jwMeoZePxaKzQsSNEwKlTjwZEUsYaLwz6EIqO1fplTawi_JgHJFSUr3_iK69PiTfJgIdwr6fadh92udQMZsHseYvc_eucjyS8OloQwSq0QQ8AoC6fkr0tacC88o_GOcHc1G9BpnepHaDnOoIcgbBQ0ZoauWOoDseVX38SfhYqu0aBDUkmDlOud6DRJeTiRrzjIBJGWeMawbTAFOI6VvMpitUtdo_weRuK8ulOnZU_SmQRKkqfOL0lMYq0OrLigGKG24zmwa8uXqU0dNxvMO1wZYltR2EQ-aNuga1_bLVekO_kNjfjRPN1Xy4mUZOHG3i8IPZmRsobwIT-23CDN5tTZnLbg9Kdw4uaniU8i4DRkkaNYSuHBJOKnnCD8UFG5r4tixNWmQwtua1zqlNWAHSvV6s4bqN8PaRFPzsVPr3HtlFHfl6QNEWe8Dq3OIhPu-QRTlYDyz-N9y2tqScmGoZgPJYYoXwd1un63EA5jYI3FcAcy_kdpq19VWpnK2g3xuiybnYfSmLWrGjrpln57MD6ftmcykJUbhxrG_Y-eU3us0q_Ft1JefL9X6PwzSI0yysdtR6_NAoRDRcaDWGakI9gX-mB7WBnHFBFPUtIcehTLc5juD9Xs4Q168GAq54twIcZMj-33c13GWc1jUuAZEn7JgkBu1FH6-pyNkA=w332-h200-no?authuser=0',
		desc:'Мог бы быть какой то текст но его нет',
		price: '9 999',
	},
	{	
		id:'2',
		title:'Рандом Заголовок',
		img:'https://lh3.googleusercontent.com/DndYRsPN7ZlO4_HoxOuKTG_fsBbV-Jg7m_CH_8zR7cI31SBa2_jwMeoZePxaKzQsSNEwKlTjwZEUsYaLwz6EIqO1fplTawi_JgHJFSUr3_iK69PiTfJgIdwr6fadh92udQMZsHseYvc_eucjyS8OloQwSq0QQ8AoC6fkr0tacC88o_GOcHc1G9BpnepHaDnOoIcgbBQ0ZoauWOoDseVX38SfhYqu0aBDUkmDlOud6DRJeTiRrzjIBJGWeMawbTAFOI6VvMpitUtdo_weRuK8ulOnZU_SmQRKkqfOL0lMYq0OrLigGKG24zmwa8uXqU0dNxvMO1wZYltR2EQ-aNuga1_bLVekO_kNjfjRPN1Xy4mUZOHG3i8IPZmRsobwIT-23CDN5tTZnLbg9Kdw4uaniU8i4DRkkaNYSuHBJOKnnCD8UFG5r4tixNWmQwtua1zqlNWAHSvV6s4bqN8PaRFPzsVPr3HtlFHfl6QNEWe8Dq3OIhPu-QRTlYDyz-N9y2tqScmGoZgPJYYoXwd1un63EA5jYI3FcAcy_kdpq19VWpnK2g3xuiybnYfSmLWrGjrpln57MD6ftmcykJUbhxrG_Y-eU3us0q_Ft1JefL9X6PwzSI0yysdtR6_NAoRDRcaDWGakI9gX-mB7WBnHFBFPUtIcehTLc5juD9Xs4Q168GAq54twIcZMj-33c13GWc1jUuAZEn7JgkBu1FH6-pyNkA=w332-h200-no?authuser=0',
		desc:'Мог бы быть какой то текст но его нет',
		price: '10 000',
	},
	{	
		id:'3',
		title:'Рандом Заголовок',
		img:'https://lh3.googleusercontent.com/DndYRsPN7ZlO4_HoxOuKTG_fsBbV-Jg7m_CH_8zR7cI31SBa2_jwMeoZePxaKzQsSNEwKlTjwZEUsYaLwz6EIqO1fplTawi_JgHJFSUr3_iK69PiTfJgIdwr6fadh92udQMZsHseYvc_eucjyS8OloQwSq0QQ8AoC6fkr0tacC88o_GOcHc1G9BpnepHaDnOoIcgbBQ0ZoauWOoDseVX38SfhYqu0aBDUkmDlOud6DRJeTiRrzjIBJGWeMawbTAFOI6VvMpitUtdo_weRuK8ulOnZU_SmQRKkqfOL0lMYq0OrLigGKG24zmwa8uXqU0dNxvMO1wZYltR2EQ-aNuga1_bLVekO_kNjfjRPN1Xy4mUZOHG3i8IPZmRsobwIT-23CDN5tTZnLbg9Kdw4uaniU8i4DRkkaNYSuHBJOKnnCD8UFG5r4tixNWmQwtua1zqlNWAHSvV6s4bqN8PaRFPzsVPr3HtlFHfl6QNEWe8Dq3OIhPu-QRTlYDyz-N9y2tqScmGoZgPJYYoXwd1un63EA5jYI3FcAcy_kdpq19VWpnK2g3xuiybnYfSmLWrGjrpln57MD6ftmcykJUbhxrG_Y-eU3us0q_Ft1JefL9X6PwzSI0yysdtR6_NAoRDRcaDWGakI9gX-mB7WBnHFBFPUtIcehTLc5juD9Xs4Q168GAq54twIcZMj-33c13GWc1jUuAZEn7JgkBu1FH6-pyNkA=w332-h200-no?authuser=0',
		desc:'Мог бы быть какой то текст но его нет',
		price: '29 999',
	},
	{
		id:'4',
		title:'Рандом Заголовок',
		img:'https://lh3.googleusercontent.com/DndYRsPN7ZlO4_HoxOuKTG_fsBbV-Jg7m_CH_8zR7cI31SBa2_jwMeoZePxaKzQsSNEwKlTjwZEUsYaLwz6EIqO1fplTawi_JgHJFSUr3_iK69PiTfJgIdwr6fadh92udQMZsHseYvc_eucjyS8OloQwSq0QQ8AoC6fkr0tacC88o_GOcHc1G9BpnepHaDnOoIcgbBQ0ZoauWOoDseVX38SfhYqu0aBDUkmDlOud6DRJeTiRrzjIBJGWeMawbTAFOI6VvMpitUtdo_weRuK8ulOnZU_SmQRKkqfOL0lMYq0OrLigGKG24zmwa8uXqU0dNxvMO1wZYltR2EQ-aNuga1_bLVekO_kNjfjRPN1Xy4mUZOHG3i8IPZmRsobwIT-23CDN5tTZnLbg9Kdw4uaniU8i4DRkkaNYSuHBJOKnnCD8UFG5r4tixNWmQwtua1zqlNWAHSvV6s4bqN8PaRFPzsVPr3HtlFHfl6QNEWe8Dq3OIhPu-QRTlYDyz-N9y2tqScmGoZgPJYYoXwd1un63EA5jYI3FcAcy_kdpq19VWpnK2g3xuiybnYfSmLWrGjrpln57MD6ftmcykJUbhxrG_Y-eU3us0q_Ft1JefL9X6PwzSI0yysdtR6_NAoRDRcaDWGakI9gX-mB7WBnHFBFPUtIcehTLc5juD9Xs4Q168GAq54twIcZMj-33c13GWc1jUuAZEn7JgkBu1FH6-pyNkA=w332-h200-no?authuser=0',
		desc:'Мог бы быть какой то текст но его нет',
		price: '3 999',
	},
	{
		id:'5',
		title:'Рандом Заголовок',
		img:'https://lh3.googleusercontent.com/DndYRsPN7ZlO4_HoxOuKTG_fsBbV-Jg7m_CH_8zR7cI31SBa2_jwMeoZePxaKzQsSNEwKlTjwZEUsYaLwz6EIqO1fplTawi_JgHJFSUr3_iK69PiTfJgIdwr6fadh92udQMZsHseYvc_eucjyS8OloQwSq0QQ8AoC6fkr0tacC88o_GOcHc1G9BpnepHaDnOoIcgbBQ0ZoauWOoDseVX38SfhYqu0aBDUkmDlOud6DRJeTiRrzjIBJGWeMawbTAFOI6VvMpitUtdo_weRuK8ulOnZU_SmQRKkqfOL0lMYq0OrLigGKG24zmwa8uXqU0dNxvMO1wZYltR2EQ-aNuga1_bLVekO_kNjfjRPN1Xy4mUZOHG3i8IPZmRsobwIT-23CDN5tTZnLbg9Kdw4uaniU8i4DRkkaNYSuHBJOKnnCD8UFG5r4tixNWmQwtua1zqlNWAHSvV6s4bqN8PaRFPzsVPr3HtlFHfl6QNEWe8Dq3OIhPu-QRTlYDyz-N9y2tqScmGoZgPJYYoXwd1un63EA5jYI3FcAcy_kdpq19VWpnK2g3xuiybnYfSmLWrGjrpln57MD6ftmcykJUbhxrG_Y-eU3us0q_Ft1JefL9X6PwzSI0yysdtR6_NAoRDRcaDWGakI9gX-mB7WBnHFBFPUtIcehTLc5juD9Xs4Q168GAq54twIcZMj-33c13GWc1jUuAZEn7JgkBu1FH6-pyNkA=w332-h200-no?authuser=0',
		desc:'Мог бы быть какой то текст но его нет',
		price: '29 500',
	},
	{
		id:'6',
		title:'Рандом Заголовок',
		img:'https://lh3.googleusercontent.com/DndYRsPN7ZlO4_HoxOuKTG_fsBbV-Jg7m_CH_8zR7cI31SBa2_jwMeoZePxaKzQsSNEwKlTjwZEUsYaLwz6EIqO1fplTawi_JgHJFSUr3_iK69PiTfJgIdwr6fadh92udQMZsHseYvc_eucjyS8OloQwSq0QQ8AoC6fkr0tacC88o_GOcHc1G9BpnepHaDnOoIcgbBQ0ZoauWOoDseVX38SfhYqu0aBDUkmDlOud6DRJeTiRrzjIBJGWeMawbTAFOI6VvMpitUtdo_weRuK8ulOnZU_SmQRKkqfOL0lMYq0OrLigGKG24zmwa8uXqU0dNxvMO1wZYltR2EQ-aNuga1_bLVekO_kNjfjRPN1Xy4mUZOHG3i8IPZmRsobwIT-23CDN5tTZnLbg9Kdw4uaniU8i4DRkkaNYSuHBJOKnnCD8UFG5r4tixNWmQwtua1zqlNWAHSvV6s4bqN8PaRFPzsVPr3HtlFHfl6QNEWe8Dq3OIhPu-QRTlYDyz-N9y2tqScmGoZgPJYYoXwd1un63EA5jYI3FcAcy_kdpq19VWpnK2g3xuiybnYfSmLWrGjrpln57MD6ftmcykJUbhxrG_Y-eU3us0q_Ft1JefL9X6PwzSI0yysdtR6_NAoRDRcaDWGakI9gX-mB7WBnHFBFPUtIcehTLc5juD9Xs4Q168GAq54twIcZMj-33c13GWc1jUuAZEn7JgkBu1FH6-pyNkA=w332-h200-no?authuser=0',
		desc:'Мог бы быть какой то текст но его нет',
		price: '29 500',
	},
];

export default {
  name: 'home',
  components: {
    HomePage,
  },
  data() {
    return {
      cards: [],
    };
  },
  mounted() {
	
	if (localStorage.getItem('currentArray')) {
		this.cards =  JSON.parse(localStorage.getItem('currentArray'));
	} else {
		this.cards = ARRCARDS;
	}

  },
  methods: {
	deletCard(id) {
		this.cards = this.cards.filter(item => item.id !== id);
		localStorage.setItem('currentArray', JSON.stringify(this.cards));
	},
  },
};
</script>

<style lang="scss">

</style>