<template>
    <div class="home-page">
        <div class="home-page__wrapper">
            <sidebar @addCards="addcards" />
            <div class="home-page__wrappers-cards">
                <div
                    class="home-page__sort"
                >
                    <select-app 
                        :selected="selected"
                        :options="options"
                        @select="sortByPrice"
                    />
                </div>
            
                <transition-group
                    name="fade-list card"
                    tag="div"
                    class="home-page__list-cards"
                >
                    <Card
                        v-for="item in defaultArr"
                        :id="item.id"
                        :key="item.id"
                        :details="item"
                        @delete="deletCard(item.id)"
                    />
                </transition-group>
            </div>
        </div>
        <modal
            v-if="modalShow"
            @close="closeModal"
        />
    </div>
</template>

<script>
import Sidebar from '@/components/home/Sidebar.vue';
import Card from '@/components/Card.vue';
import SelectApp from '@/components/SelectApp.vue';
import Modal from '@/components/Modal.vue';

export default {
    name: 'home-page',
    components: {
        Sidebar,
        Card,
        SelectApp,
        Modal,
    },
    
    props: {
        cards: {
            type: Array,
            default: ()=> [],
        },
    },

    data(){
        return {
            filteredCards: null,
            options: [
                { name: 'По умолчанию', value: 'default' },
                { name: 'По убыванию', value: 'min' },
                { name: 'По возрастанию', value: 'max' },
            ],
            selected: 'По умолчанию',
            modalShow: false,
        };
    },

    computed: {
        defaultArr() {
            return this.filteredCards || this.cards;
        },
    },
    async mounted() {
         if (localStorage.getItem('selected')) {
            this.selected = await JSON.parse(localStorage.getItem('selected'));
            this.curruntSort(this.selected);
        }
    },

    methods: {
        sortByPrice(sort) {
            this.curruntSort(sort.name);
            localStorage.setItem('selected', JSON.stringify(sort.name));
        },

        filteredDefault() {
            this.filteredCards = this.cards.concat().sort((a, b)=> {
                return b.id - a.id;
            });
        },

        filteredMaxPrice() {
            this.filteredCards = this.cards.concat().sort((a, b)=> {
                return b.price.replace(/\s/g, '') - a.price.replace(/\s/g, '');
            });
        },

        filteredMinPrice() {
            this.filteredCards = this.cards.concat().sort((a, b)=> {
                return a.price.replace(/\s/g, '') - b.price.replace(/\s/g, '');
            });
        },

        addcards(item) {
            let arrId = this.cards.reduce((accum, item) => {
               return accum.concat(item.id);
            }, []);
            let newId = Math.max.apply( null, arrId ) + 1;
            item.id = newId;
            this.cards.push(item);
            this.curruntSort(this.selected);
            localStorage.setItem('currentArray', JSON.stringify(this.cards));
            this.modalShow = true;
        },

        deletCard(id) {
            this.$emit('delete', id);
        },

        curruntSort(sort) {
            if (sort === 'По убыванию') {
                this.filteredMaxPrice();
                this.selected =sort;
            }
            if (sort === 'По возрастанию') {
                this.filteredMinPrice();
                this.selected =sort;
            }
            if (sort === 'По умолчанию') {
                this.filteredDefault();
                this.selected =sort;
            }  
        },
        closeModal() {
            this.modalShow = false;
        },
    },
};
</script>

<style lang="scss">
.home-page {
    min-height: calc(100vh - 63px);

    background: #e5e5e570;
    &__wrapper {
        display: flex;

        max-width: 1376px;
    }
	&__wrappers-cards {
		width: 73%;
		padding: 16px 30px 25px 0;
        
		
	}
    &__list-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
			width: 32%;
            margin: 10px 0;

		}
    }
	&__sort {
		display: flex;
		justify-content: flex-end;

		height: 36px;
		margin: 20px 0 16px ;
	}
	.sidebar {
		width: 27%;
		
	}
    @media (max-width: 1023px) {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        .sidebar {
            width: 90%;
        }
        &__wrappers-cards {
            width: 90%;
        }
    }
    @media (max-width: 767px) {
        &__list-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .card {
                width: 100%;
                margin: 10px 0;

            }
        }
    }

}
.fade-list {
    transition: transform 1s;
}
</style>