<template>
    <div class="sidebar">
        <h2>Добавление товара</h2>
        <div class="sidebar__wrapper">
            <form @submit.prevent="addCard">
                <div
                    class="sidebar__name"
                    :class="{ error: isNameError }"
                >
                    <label for="">Наименование товара <span></span></label>
                    <input
                        ref="name"
                        v-model="name"
                        type="text"
                        placeholder="Введите наименование товара"
                        @blur="isNameTouched = true"
                    />
                    <p v-if="isNameError">
                        Поле является обязательным
                    </p>
                </div>
                <div class="sidebar__desc">
                    <label for="">Описание товара</label>
                    <textarea
                        ref="desc"
                        type="text"
                        placeholder="Введите описание товара"
                    ></textarea>
                </div>
                <div
                    class="sidebar__img"
                    :class="{ error: isImgError }"
                >
                    <label for="">Ссылка на изображение товара <span></span></label>
                    <input
                        ref="img"
                        v-model="link"
                        type="text"
                        placeholder="Введите ссылку"
                        @blur="isImgTouched = true"
                    />
                    <p v-if="isImgError">
                        Поле является обязательным
                    </p>
                </div>
                <div
                    class="sidebar__price"
                    :class="{ error: isPriceError }"
                >
                    <label for="">Цена товара <span></span></label>
                    <input
                        ref="price"
                        v-model="price"
                        type="text"
                        placeholder="Введите цену"
                        @input="maskPrice"
                        @blur="isPriceTouched = true"
                    />
                    <p v-if="isPriceError">
                        Поле является обязательным
                    </p>
                </div>
                <button
                    :class="{active: validForm, disabled: disableBtn}"
                >
                    Добавить товар
                </button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            isNameTouched: false,
            errors: [],
            link:'',
            isImgTouched: false,
            price:'',
            isPriceTouched: false,
        };
    },
    computed: {
        isNamelValid() {
            return this.name === '';
        },

        isNameError() {
            return this.isNamelValid && this.isNameTouched;
        },


        isPriceValid() {
            return this.price === '';
        },
        isPriceError() {
            return this.isPriceValid && this.isPriceTouched;
        },


        isImgValid() {
            return this.link === '';
        },
        isImgError() {
            return this.isImgValid && this.isImgTouched;
        },
        disableBtn() {
            return !this.name && !this.link && !this.price;
        },
        validForm() {
            return !this.isNameError && !this.isPriceError && !this.isImgError;
        },
        
    },
    methods: {
        addCard() {
            if (!this.name) {
                this.isNameTouched = true;
            }
            if (!this.link) {
                this.isImgTouched = true;
            }
            if (!this.price) {
                this.isPriceTouched = true;
            }
            if (!this.name || !this.link || !this.price) {
                return;
            }
            
            let item = {
                title: this.$refs.name.value,
                desc: this.$refs.desc.value,
                img: this.$refs.img.value,
                price: this.$refs.price.value,
            };
            this.$emit('addCards', item);
        },
        maskPrice() {
            let tt =  this.price.replace(/[^0-9]/g,'').split('').reverse();
            if (tt.length > 3) tt.splice(3,0,' ');
            if (tt.length > 6) tt.splice(7,0,' ');
            if (tt.length > 9) tt.splice(11,0,' ');
            if (tt.length > 12) tt.splice(15,0,' ');
            this.price = tt.reverse().join('');

        },
    },
};
</script>

<style lang="scss" scoped>
    .sidebar {
        display: flex;
        flex-direction: column;

        font-family: 'Source Sans Pro';
        font-weight: normal;
        font-style: normal;
        h2 {
            padding: 36px 10px 30px 10px;
        }
        &__wrapper {
            position: sticky;
            top: 0;
        }
        &__wrapper form{
            margin: 0 10px;
            padding: 24px;

            background: #FFFEFB;
            border-radius: 4px;
        }
        &__wrapper button{
            display: flex;
            justify-content: center;
            
            width: 100%;
            padding: 10px;

            font-family: 'Inter';
            font-size: 12px;
            font-weight: 600;
            color: #B4B4B4;
            font-style: normal;

            background: #EEEEEE;
            border:none;
            border-radius: 10px;
            outline: none;

            transition: .2s;

            pointer-events: none;
            &.active {
                color: #FFFFFF;

                background: #7BAE73;

                pointer-events: auto;
            }
            &.disabled {
                color: #B4B4B4;

                background: #EEEEEE;

                pointer-events: none;
            }
        }
        form>div{
            display: flex;
            flex-direction: column;

            margin-bottom: 16px;

            & input, & textarea {
                padding: 11px 16px;

                font-size: 12px;
                color: #B4B4B4;

                background: #FFFEFB;
                border: none;
                border-radius: 4px;
                outline: none;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

                resize: none;
                &:focus {
                    color: #49485E;

                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
                }
            }
            &.error {
                input {
                    border:1px solid red
                }
                p {
                    font-size: 8px;
                    color: red;
                }
            }
            & label {
                margin-bottom: 4px;

                font-size: 10px;
                line-height: 13px;
                color: #49485E;
                span {
                    display: inline-block;

                    width: 4px;
                    height: 4px;

                    background: #FF8484;
                    border-radius: 50%;

                    transform: translateY(-3px);
                }
            }
        }
    }
    
</style>