<template>
    <div class="card">
        <div
            class="card__delete"
            @click="deletCard"
        >
            <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="white"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M10.207 5.79688C9.99998 5.79688 9.83224 5.96462 9.83224 6.17158V13.2535C9.83224 13.4604 9.99998 13.6283 10.207 13.6283C10.4139 13.6283 10.5817 13.4604 10.5817 13.2535V6.17158C10.5817 5.96462 10.4139 5.79688 10.207 5.79688Z" />
                <path d="M5.78544 5.79688C5.57848 5.79688 5.41074 5.96462 5.41074 6.17158V13.2535C5.41074 13.4604 5.57848 13.6283 5.78544 13.6283C5.99241 13.6283 6.16015 13.4604 6.16015 13.2535V6.17158C6.16015 5.96462 5.99241 5.79688 5.78544 5.79688Z" />
                <path d="M2.56294 4.76335V13.9953C2.56294 14.541 2.76303 15.0534 3.11256 15.4211C3.46048 15.7898 3.94467 15.9991 4.4514 16H11.541C12.0478 15.9991 12.532 15.7898 12.8798 15.4211C13.2293 15.0534 13.4294 14.541 13.4294 13.9953V4.76335C14.1242 4.57893 14.5745 3.90768 14.4815 3.19471C14.3884 2.48189 13.7811 1.94867 13.0622 1.94852H11.1437V1.48014C11.1459 1.08626 10.9902 0.708039 10.7113 0.42979C10.4325 0.151688 10.0537 -0.0031709 9.65982 4.92333e-05H6.33255C5.93867 -0.0031709 5.55986 0.151688 5.28103 0.42979C5.00219 0.708039 4.84646 1.08626 4.84865 1.48014V1.94852H2.93019C2.21122 1.94867 1.60393 2.48189 1.51084 3.19471C1.4179 3.90768 1.86813 4.57893 2.56294 4.76335ZM11.541 15.2506H4.4514C3.81075 15.2506 3.31236 14.7002 3.31236 13.9953V4.79629H12.68V13.9953C12.68 14.7002 12.1816 15.2506 11.541 15.2506ZM5.59806 1.48014C5.59558 1.28503 5.67227 1.09724 5.81074 0.959502C5.94906 0.821768 6.13729 0.746095 6.33255 0.749461H9.65982C9.85508 0.746095 10.0433 0.821768 10.1816 0.959502C10.3201 1.09709 10.3968 1.28503 10.3943 1.48014V1.94852H5.59806V1.48014ZM2.93019 2.69793H13.0622C13.4347 2.69793 13.7367 2.99989 13.7367 3.3724C13.7367 3.74491 13.4347 4.04688 13.0622 4.04688H2.93019C2.55768 4.04688 2.25571 3.74491 2.25571 3.3724C2.25571 2.99989 2.55768 2.69793 2.93019 2.69793Z" />
                <path d="M7.9962 5.79688C7.78923 5.79688 7.62149 5.96462 7.62149 6.17158V13.2535C7.62149 13.4604 7.78923 13.6283 7.9962 13.6283C8.20317 13.6283 8.37091 13.4604 8.37091 13.2535V6.17158C8.37091 5.96462 8.20317 5.79688 7.9962 5.79688Z" />
            </svg>
        </div>
        <div class="card__preview">
            <div class="card__preview--wrapper">
                <img :src="details.img" />
            </div>
            <div class="card__description">
                <h2>{{ details.title }} </h2>
                <p> {{ details.desc }}</p>
                <div class="card__price">
                    {{ details.price }} руб.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        details: {
            type: Object,
            default: ()=> {},
        },
    },
    methods: {
        deletCard() {
            this.$emit('delete');
        },
    },
};
</script>

<style lang="scss">
    .card {
        position: relative;
        
        display: flex;
        flex-direction: column;

        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);

        cursor: pointer;

        &__delete {
            position: absolute;
            top: -16px;
            right: -16px;

            display: none;
            justify-content: center;
            align-items: center;

            width: 32px;
            height: 32px;
            overflow: hidden;

            font-size: 16px;
            color: white;

            background: #FF8484;
            border: 1px solid transparent;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

            cursor: pointer;
            transition: .1s;
            &:hover {
                background: white;
                border: 1px solid #FF8484;
                svg {
                    fill: #FF8484;
                }
            }
        }
        &__preview {
            width: 100%;
            overflow: hidden;

            background: #FFFEFB;
            border-radius: 4px;
            img {
                object-fit: cover;

                width: 100%;
                object-position: center;

                height: 200px;
            }
        }
        &__description {
            display: flex;
            flex-direction: column;
            h2 {
                margin: 16px;

                font-size: 20px;
                line-height: 25px;
                font-weight: 600;
                color: #3F3F3F;
            }
            P {
                margin: 0 16px;

                font-size: 16px;
                line-height: 20px;
                font-weight: normal;
                color: #3F3F3F;
                font-style: normal;
            }
        }
        &__price{
                margin: 32px 16px 24px 16px;

                font-size: 24px;
                line-height: 30px;
                font-weight: 600;
                color: #3F3F3F;
        }
        &:hover &__delete{
            display: flex;
        }
    }
</style>