<template>
    <div class="footer">
        <div class="footer__links">
            <router-link to="/">
                Vk
            </router-link><router-link to="/">
                Inst
            </router-link><router-link to="/">
                YouTube
            </router-link>
        </div>
        <div class="footer__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dignissimos, vitae nihil tenetur iusto labore?
        </div>
    </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px 22px;

        font-size: 20px;

        background-color: black; 
        &__links{
            display: flex;
            a{
                margin: 0 10px;

                color: white;
            }
        }
        &__description{
            max-width: 300px;
            margin: 10px 0;

            font-size: 11px;
            color: white;
        }
    }
</style>