<template>
    <div class="header">
        <router-link to="/">
            Супер Лого
        </router-link>
        <div
            class="header__links"
            :class="{ show : showMenu }"
        >
            <router-link to="/">
                Ссылка
            </router-link>
            <router-link to="/">
                Ссылка
            </router-link>
            <router-link to="/">
                Ссылка
            </router-link>
            <router-link to="/">
                Ссылка
            </router-link>
        </div>
        <div
            class="header__burger"
            :class="{openMenu : showMenu}"
            @click="showMenu = !showMenu"
        >
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            showMenu: false,
        };
    },
    watch: {
        showMenu () {
            if (this.showMenu) {
                document.querySelector('body').classList.add('lock');
            } else {
                document.querySelector('body').classList.remove('lock');
            }
        },
    },
};
</script>

<style lang="scss" scoped>
    .header {
        display: flex;
        justify-content: space-between;

        padding: 20px 22px;

        font-size: 20px;

        background-color: black; 

        &__links {
            display: flex;
            a{
                margin: 0 10px;
            }
        }
        a {
            color: white;
        }
        &__burger {
            position: relative;
            z-index: 4;

            display: none;

            width: 25px;
            span:nth-child(1)  {
                position: absolute;
                top: 0px;

                display: block;

                width: 25px;
                height: 3px;

                background: white;

                transform-origin: left;
                transition: .2s;
            }
            span:nth-child(2)  {
                content: '';
                position: absolute;
                top: 7px;

                display: block;

                width: 25px;
                height: 3px;

                background: white;

            }
            span:nth-child(3) {
                content: '';
                position: absolute;
                top: 14px;

                display: block;

                width: 25px;
                height: 3px;

                background: white;

                transform-origin: left;
                transition: .2s;
            }
            &.openMenu {
                span:nth-child(2)  {
                    opacity: 0;
                }
                span:nth-child(1)   {
                    transform: rotate(35deg);
                }
                span:nth-child(3)  {
                    transform: rotate(-35deg);
                }
            }
        }
        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 2;
            &__links {
                position: absolute;
                top: 0;
                right: -100%;
                z-index: 3;

                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100vh;

                transition: .3s;
                a {
                    margin: 10px 0;
                }
                &.show {
                    right: 0%;
                    z-index: 3;

                    background: rgba(0, 0, 0, 0.8);
                }
            }
            &__burger {
                display: block;
            }
        }
    }
</style>