<template>
    <div class="modal">
        <div class="modal__wrapper">
            <h2>Успех</h2>
            <p>Добавлено!</p>
            <div
                class="modal__close"
                @click="close"
            >
                Закрыть
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        close() {
            this.$emit('close');
        },
    },
};
</script>

<style lang="scss" scoped>
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, 0.699);
        &__wrapper {
            padding: 113px 217px;

            background: white;
            border-radius: 4px;
            h2{
                font-size: 37px;
                text-align: center;
                color: rgb(19, 155, 19);
            }
            p {
                margin: 5px 0 45px;

                font-size: 29px;
                text-align: center;
            }
        }
        &__close {
            padding: 8px 50px;

            font-size: 25px;
            color: #FFFFFF;

            background: #7BAE73;
            border-radius: 4px;

            cursor: pointer;
            transition: .2s;
            &:hover {
                background: #306128;
            }
        }
    }
</style>
