<template>
    <div class="my-select">
        <p
            class="title"
            @click="areOptions =!areOptions"
        >
            {{ selected }}
            <svg
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M7.48532 3.24264L4.24268 6.48528L1.00003 3.24264"
                    stroke="#B4B4B4"
                />
            </svg>
        </p>
        
        <div 
            v-if="areOptions"
            class="options"
        >
            <p
                v-for="option in options"
                :key="option.value"
                @click="selectOption(option)"
            >
                {{ option.name }}
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'my-select',
    props: {
        options: {
            type:Array,
            default:()=>[],
        },
        selected: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            areOptions: false,
        };
    },
    mounted() {
        document.body.addEventListener('click', this.hideSelect.bind(this), true);
    },
    beforeDestroy () {
        document.body.addEventListener('click', this.hideSelect());
    },
    methods: {
        selectOption(option) {
            this.$emit('select', option);
            this.areOptions = false;
        },
        hideSelect() {
            this.areOptions = false;
        },
    },
};
</script>

<style lang="scss" scoped>
.my-select {
    position: relative;
    z-index: 1;

    justify-content: end;

    width: 121px;

    text-align: left;

    background: #FFFEFB;
    border-radius: 4px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);

    cursor: pointer;

}
.title {
    padding: 8px 0 10px 8px;

    font-family: 'Source Sans Pro';
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #B4B4B4;
    font-style: normal;
    svg {
        margin-left: 5px;
    }
}
.my-select p {
    margin: 5px;

    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #B4B4B4;
    font-style: normal;

    
}
.options {
    position: absolute;
    top: 30px;
    left: 0;

    width: 100%;
    padding: 8px;

    background: #ffffff;
    border-bottom-right-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
.options p:hover {
    background: #e7e7e7;
}
</style>