<template>
    <div id="app">
        <Header />
        <div class="main-wrapper">
            <router-view />
        </div>
        <Footer />
    </div>
</template>

<script>
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
export default {
	components:{
		Header,
		Footer,
	},
};
</script>

<style lang="scss">
.main-wrapper {
	min-height: calc(100vh - 63px);
}
</style>
